<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="BookMan.ConsoleApp.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="BookMan.ConsoleApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<BookMan.ConsoleApp.Settings>
			<setting name="DataAccess" serializeAs="String">
				<value>json</value>
			</setting>
			<setting name="PrompText" serializeAs="String">
				<value>BookManCLI</value>
			</setting>
			<setting name="DataFile" serializeAs="String">
				<value>data.json</value>
			</setting>
		</BookMan.ConsoleApp.Settings>
	</userSettings>
</configuration>